body {
    background: linear-gradient(lightgray 70%, gray 70%);
    background-size: 10px 30px;
    font-family: Tahoma;
}

.todolist {
    display: block;
    width: 400px;
    margin: auto;
    border: solid 1px black;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px gray;
    background-color: white;
    color: darkslategray;
}

.todolist h1 {
    text-align: center;
    padding: 5px;
    margin: 0;
}

.todolist ul{
    list-style: none;
    padding: 0px 15px;
    margin: 0;
}

.todolist li {
    margin: 0 0;
    height: 30px;
    position: relative;
    padding-left: 45px;
    padding-top: 10px;

    text-align: 
}

.todolist li:last-child {
    
}

.complete-checkbox input,
.edit input,
.delete input {
    display: none;
}

.complete-checkbox {
    display: block;
    width: 18px;
    height: 18px;
    background-color: white;
    border: solid 2px darkslategray;
    position: absolute;
    left:10px;
    top: 7px;
}

.todolist .complete {
    background: rgba(0, 256, 0, 0.3);
}

.todolist .complete .complete-checkbox {
    transform:  translate(5px, -2px) rotate(45deg);
    width: 9px;
    background-color: transparent;
    border: solid 3px green;
    border-top: none;
    border-left: none;
    
}

.todolist .add-todo {
    padding-left: 35px;
    padding-bottom: 10px;
}

.todolist .add-todo input[type="submit"],
.todolist .change-todo input[type="submit"] {
    display: none;
}

.todolist .add-todo input[type="text"] {
    margin: auto;
    height: 30px;
    font-family: Tahoma;
    font-size: 16px;
    border: none;
    border-bottom: solid 2px darkslategray;
    
}


.todolist .change-todo input[type="text"] {
    height: 18px;
    font-family: Tahoma;
    font-size: 16px;
    border: none;
    border-bottom: solid 2px darkslategray;
    width: 95%;
}

.todolist .button input {
    display: none;
}

.todolist .button {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 0 5px darkslategray;
}

.todolist .change-todos {
    text-align: center;
    padding-bottom: 10px;
}